body {
  margin: 24px;
  padding: 0px;
  background-color: black;
}

h1{
  color: #F44336;
  font-family: 'Lora', serif;
  font-size: 48px;
}

p{
  color: white;
  font-family: 'Poppins', sans-serif;
  max-width: 50%;
  font-size: 20px;
  line-height: 2;
}

h1{
  margin: 0px;
  padding: 0px;
}

#boxing-gif{
  position: fixed;
  top: 100px;
  right: 40px;
  width: 40%;
  max-width: 400px;
  max-height: 400px;
  /* background: url(https://media.giphy.com/media/KXgJsSeOfvSgg/giphy.gif) */
}


#punch-type{
  /* border: solid; */
  border-radius: 4px;
  border-color: Transparent;
  padding: 4px 4px 4px 4px;
  text-align: left;
  /* background: #ffab00; */
  text-decoration: underline;
  text-decoration-color: #ffab00;
  font-size: 40px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  max-width: 44%;
  margin-left: 2px;
  opacity: 1;

}
