body {
  margin: 48px;
  padding: 0px;
  background-color: black;
}

h1{
  color: #F44336;
  font-family: 'Lora', serif;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
}

p{
  color: white;
  margin: 0px;
  padding-top: 16px;
  font-family: 'Poppins', sans-serif;
  max-width: 50%;
  font-size: 40px;
  letter-spacing: 0.05em;
  opacity: 0.7;
}

.last-punch{
  padding-top: 264px;
  opacity: 1;
  font-weight: 700;
  font-size: 64px;
}

#boxing-gif{
  position: fixed;
  top: 100px;
  right: 40px;
  width: 30%;
  max-width: 600px;
  max-height: 400px;
}


#punch-type{
  /* border: solid; */
  border-radius: 4px;
  border-color: Transparent;
  padding: 4px 4px 4px 4px;
  text-align: left;
  /* background: #ffab00; */
  text-decoration: underline;
  text-decoration-color: #ffab00;
  font-size: 64px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  max-width: 44%;
  margin-left: 2px;
  opacity: 1;

}
